@charset "UTF-8";
html {
  width: 100%;
  height: 100%; }

.sizing-border * {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0rem;
  padding: 0rem;
  font-family: Helvetica "Heiti SC" Droidsansfallback; }

/* 去掉touch时的灰层 */
a, button, input, textarea {
  -webkit-tap-highlight-color: transparent;
  /* 老方法 */
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
  -webkit-user-modify: read-write-plaintext-only; }

h1, h2, h3, h4, h5, h6 {
  padding: 0rem;
  margin: 0rem;
  font-weight: normal; }

[data-dpr="2"] h1 {
  font-size: 21px; }

[data-dpr="2"] h1 {
  font-size: 42px; }

[data-dpr="3"] h1 {
  font-size: 63px; }

[data-dpr="2"] h2 {
  font-size: 19px; }

[data-dpr="2"] h2 {
  font-size: 38px; }

[data-dpr="3"] h2 {
  font-size: 57px; }

[data-dpr="2"] h3 {
  font-size: 17px; }

[data-dpr="2"] h3 {
  font-size: 34px; }

[data-dpr="3"] h3 {
  font-size: 51px; }

/* 1px border image方案 */
body {
  overflow: hidden; }

[data-dpr="1"] header {
  height: 44px; }
  [data-dpr="1"] header h3 {
    line-height: 44px; }

[data-dpr="2"] header {
  height: 88px; }
  [data-dpr="2"] header h3 {
    line-height: 88px; }

[data-dpr="3"] header {
  height: 132px; }
  [data-dpr="3"] header h3 {
    line-height: 132px; }

header {
  width: 100%;
  padding: 0rem 0.2rem;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: 0px solid #89ABE3;
  background-color: #89ABE3;
  box-shadow: 0rem 0rem .07rem 0rem #808080; }
  header h3 {
    color: #fff;
    text-align: center;
    font-weight: normal; }

/* footer */
[data-dpr="1"] footer {
  height: 49px; }
  [data-dpr="1"] footer ul li a i {
    font-size: 22px; }

[data-dpr="2"] footer {
  height: 98px; }
  [data-dpr="2"] footer ul li a i {
    font-size: 48px; }

[data-dpr="3"] footer {
  height: 146px; }
  [data-dpr="3"] footer ul li a i {
    font-size: 66px; }

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid #666;
  /* @include one-px-border('grey', 1px 0px 0px 0px, 'bold'); */ }
  footer ul {
    height: 100%;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    footer ul li {
      width: 25%;
      height: 100%; }
      footer ul li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #666;
        text-align: center; }
        footer ul li a i {
          height: 50%; }
        footer ul li a div {
          height: 50%;
          color: #ccc; }

/* footer over */
.content-view {
  height: 100%;
  overflow: auto; }

[data-dpr="1"] .content-view {
  padding-top: 48px;
  padding-bottom: 49px; }

[data-dpr="2"] .content-view {
  padding-top: 88px;
  padding-bottom: 98px; }

[data-dpr="3"] .content-view {
  padding-top: 132px;
  padding-bottom: 146px; }
