$baseFontFamily: "Microsoft YaHei" arial Helvetica "Heiti SC";
$baseColorBlue: #3598db;
$fs: 10px;

$baseColorBlue: #89ABE3;
$baseColorBlue-d: #89ABE3;
$baseColorRed: #F2DDDE;;
$baseColorRed-d: #F7CAC9;

body{
	margin: 0rem;
	padding: 0rem;
	font-family: $baseFontFamily;
}
h1,h2,h3,h4,h5,h6{
	padding: 0rem;
	margin: 0rem;
}

h1{
	font-size: $fs*2.1;
}
[data-dpr="2"] h1{
	font-size: $fs*2.1*2;
}
[data-dpr="3"] h1{
	font-size: $fs*2.1*3;
}

h2{
	font-size: $fs*1.9;
}
[data-dpr="2"] h2{
	font-size: $fs*1.9*2;
}
[data-dpr="3"] h2{
	font-size: $fs*1.9*3;
}

h3{
	font-size: $fs*1.7;
}
[data-dpr="2"] h3{
	font-size: $fs*1.7*2;
}
[data-dpr="3"] h3{
	font-size: $fs*1.7*3;
}

@mixin o-px-b-img{
	border-image:url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/ KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/ LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg==") 1 0 stretch;
	border-width: 0px 0px 1px;
}
@mixin o-px-b-img ($level, $bw) {

	@if $level == 2 {
		border-image:url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/ KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/ LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg==") 11 0 24px 0px stretch;
		border-width: $bw;
	} @else if $level == 3 {
    border-image:url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/ KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/ LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg==") 13px 0px 22px 0px stretch;
		border-width: $bw;
	} @else if $level == 4 {
    border-image:url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/ KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/ LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg==") 14px 0px 21px 0px stretch;
		border-width: $bw;
	} @else if $level == 5 {
    border-image:url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/ KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/ LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg==") 36 0 0 0 stretch;
		border-width: $bw;
	} @else {
    border-image:url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/ KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/ LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg==") 0px 0px 35px 0px stretch;
		border-width: $bw;
	}
}
