$baseFontFamily: "Microsoft YaHei" arial Helvetica "Heiti SC";
$baseColorBlue: #3598db;
$baseFontSize: 10px;

$baseColorBlue: #89ABE3;
$baseColorBlue-d: #89ABE3;
$baseColorRed: #F2DDDE;;
$baseColorRed-d: #F7CAC9;

body{
	margin: 0rem;
	padding: 0rem;
	font-size: $baseFontSize;
	font-family: $baseFontFamily;
}
h1,h2,h3,h4,h5,h6{
	padding: 0rem;
	margin: 0rem;
}
h1{
	font-size: 1.7rem;
}

