$baseFontFamily: "Microsoft YaHei" arial Helvetica "Heiti SC";
$baseColorBlue: #3598db;
$fs: 10px;

$baseColorBlue: #89ABE3;
$baseColorBlue-d: #89ABE3;
$baseColorRed: #F2DDDE;;
$baseColorRed-d: #F7CAC9;

body{
	margin: 0rem;
	padding: 0rem;
	font-family: $baseFontFamily;
}
h1,h2,h3,h4,h5,h6{
	padding: 0rem;
	margin: 0rem;
}

h1{
	font-size: $fs*2.1;
}
[data-dpr="2"] h1{
	font-size: $fs*2.1*2;
}
[data-dpr="3"] h1{
	font-size: $fs*2.1*3;
}

h2{
	font-size: $fs*1.9;
}
[data-dpr="2"] h2{
	font-size: $fs*1.9*2;
}
[data-dpr="3"] h2{
	font-size: $fs*1.9*3;
}

h3{
	font-size: $fs*1.7;
}
[data-dpr="2"] h3{
	font-size: $fs*1.7*2;
}
[data-dpr="3"] h3{
	font-size: $fs*1.7*3;
}

@mixin o-px-b-img{
	border-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiPnH8zH/G////MzAxAAHTyRNn/wMEGABpvQm9g9TJ1QAAAABJRU5ErkJggg==") 2 0 stretch;
	border-width: 0px 0px 1px;
}
