@import "common";

body{
	overflow: hidden;
}

[data-dpr="1"] header{
	height: 44px;
	h3{
		line-height: 44px;
	}
}
[data-dpr="2"] header{
	height: 88px;
	h3{
		line-height: 88px;
	}
}
[data-dpr="3"] header{
	height: 132px;
	h3{
		line-height: 132px;
	}
}
header{
	width: 100%;
	padding: 0rem 0.2rem;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 0px solid $baseColorBlue-d; 
	background-color: $baseColorBlue;
	box-shadow: 0rem 0rem .07rem 0rem #808080;
	h3{
		color: #fff;
		text-align: center;
		font-weight: normal;
	}
}

/* footer */
[data-dpr="1"] footer{
	height: 49px;
	ul{
		li{
			a{
				i{
					font-size: 22px;
				}	
			}
		}
	}

}
[data-dpr="2"] footer{
	height: 98px;
	ul{
		li{
			a{
				i{
					font-size: 48px;
				}	
			}
		}
	}
	
}
[data-dpr="3"] footer{
	height: 146px;
	ul{
		li{
			a{
				i{
					font-size: 66px;
				}	
			}
		}
	}
}
footer{
	width:100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	border-top: 1px solid #666;
	/* @include one-px-border('grey', 1px 0px 0px 0px, 'bold'); */

	ul{
		height: 100%;
		margin: 0px;
		padding: 10px 0px 0px 0px;
		list-style-type:none;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;

		li{
			width: 25%;
			height: 100%;
			a{
				display: inline-block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				color: #666;
				text-align: center;

				i{
					height: 50%;
				}
				div{
					height: 50%;
					color: #ccc;
				}

			}
		}
	}
}

/* footer over */

.content-frame{	/* 弹性布局 */
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	.content-view{
		width: 100%;
		height: 100%;
		overflow: auto;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;/* 子元素是否换行or换列 */
		justify-content: flex-start;/* 主轴对齐方式 */
		align-items: flex-start;/* 侧轴对齐方式 */
	}

}
[data-dpr="1"] .content-frame{
	padding-top: 48px;
	padding-bottom: 49px;

}
[data-dpr="2"] .content-frame{
	padding-top: 88px;
	padding-bottom: 98px;

}
[data-dpr="3"] .content-frame{
	padding-top: 132px;
	padding-bottom: 146px;

}
