@import "common";
[data-dpr="1"] header{
	flex-basis: 44px;
}
[data-dpr="2"] header{
	flex-basis: 88px;
}
[data-dpr="3"] header{
	flex-basis: 132px;
}
header{
	width: 100%;
	
	padding: 0rem 0.2rem;
	
	border-bottom: 1px solid $baseColorBlue-d; 
	background-color: $baseColorBlue;
	box-shadow: 0rem 0rem .06rem 0rem #808080;
	h3{
		color: #fff;
		height: 88px;
		vertical-align: middle;
		text-align: center;
		font-weight: normal;
	}
}

/* footer */
[data-dpr="1"] footer{
	flex-basis: 49px;
}
[data-dpr="2"] footer{
	flex-basis: 98px;
}
[data-dpr="3"] footer{
	flex-basis: 146px;
}
footer{
	width:100%;
	border-top: 1px solid #666;
	/* @include one-px-border('grey', 1px 0px 0px 0px, 'bold'); */
}

/* footer over */
.content-view{
	flex-grow: 1;
	flex-basis: 100%;
	overflow: hidden;
}
.content-view-d{
	overflow: auto;
	flex-basis: 100%;
	overflow: auto;
}